$chip-color: #ccf;
$font-stack: 'Avenir', Helvetica, Arial, sans-serif;
$footer-height: 50px;
$header-footer-color: #83DB93;
$header-height: 70px;
$menu-height: 50px;
$modal-md: 600px;
$section-border-color: rgba(0, 0, 0, .125) !default;
