$chip-color: #ccf;
$font-stack: 'Avenir', Helvetica, Arial, sans-serif;
$footer-height: 50px;
$header-footer-color: #50A679;
$header-height: 70px;
$menu-height: 50px;
$modal-md: 600px;
$section-border-color: #FFF !default;
$vendor-list-filter-height: 40px;
$vendors-master-row-height: 64px;
$vendors-master-color: #FFF;
$vendor-list-master-background-color: #50A679;
$vendor-list-item-background-color: #EAEAEA;
$vendor-list-item-selected-background-color: #FFF;
$vendor-list-item-hover-background-color: #FFFFEE;
$vendor-list-background-color: #FFF;
